@{
    ViewData["Title"] = "Admin Dashboard";
}
@model AdminDashW
<div class="container d-flex flex-column admin-dash-body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Truckette</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="AdminDash" asp-controller="Admin">Admin Dasboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="AddProductPage" asp-controller="Admin">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="AddCategoryPage" asp-controller="Admin">Add Category</a>
                </li>
            </ul>
            <form action="FilterProducts" method="post" class="form-inline my-2 my-lg-0">
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="FilterForm.ToLookFor"></span>
                    <input class="form-control mr-sm-2" 
                            asp-for="FilterForm.ToLookFor" 
                            type="text" 
                            placeholder="search...">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
                </div>
            </form>
            <a class="btn btn-outline-primary ml-2" asp-action="AdminDash">Reset</a>
        </div>
    </nav>
    
    <div class="row mt-4 mb-4">
        @if (Model != null && Model.ListOfProducts != null)
        {
            @foreach (Product p in Model.ListOfProducts)
            {
            <div class="col-sm-2">
                <div class="admin-product-wrapper">
                    <ul class="list-unstyled text-center">
                        <li><img class="img-thumbnail" src="~/@p.ImageUrl" alt=""></li>
                        <li>@p.ProductName</li>
                        <li>(@p.Quantity left)</li>
                        <li><a asp-action="ProductDetailsPage" asp-route-id="@p.ProductId">Detail/Edit Page</a></li>
                    </ul>
                </div>
            </div>
            }
        }
    </div>
</div>