@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Registration</title>
</head>
<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h1>Register here</h1>
            </div>
            <div class="col-sm-6 text-center">
                <h3><a asp-action="LoginUser">Login</a></h3>
            </div>
        </div>
    </div>
    <div class="container">
    <form asp-action="register" asp-controller="Login" method="post">
        <div class="row">
            <div class="col-sm-4 form-group h3">
                <span asp-validation-for="FirstName"></span>
                <label asp-for="FirstName">First Name: </label>
                <input class="form-control" type="text" asp-for="FirstName">
            <br>
                <span asp-validation-for="LastName"></span>
                <label asp-for="LastName">Last Name: </label>
                <input type="text" asp-for="LastName">
            <br>
                <span asp-validation-for="DOB"></span>
                <label asp-for="DOB">Date of Birth: </label>
                <input type="Date" asp-for="DOB">
            <br>
                <span asp-validation-for="Email"></span>
                <label asp-for="Email">Email: </label>
                <input type="email" asp-for="Email">
            <br>
                <div class="form-group">
                    <input type="submit" value="Sign Up Now!">
                </div>
            </div>
            <div class="col-sm-4 form-group h3">
                <span asp-validation-for="StreetAddress"></span>
                <label asp-for="StreetAddress">Street Address: </label>
                <input type="text" asp-for="StreetAddress">
            <br>
                <span asp-validation-for="PostalCode"></span>
                <label asp-for="PostalCode">SPostal Code: </label>
                <input type="text" asp-for="PostalCode">
            <br>
                <span asp-validation-for="Password"></span>
                <label asp-for="Password">Password: </label>
                <input type="password" asp-for="Password">
            <br>
                <span asp-validation-for="Confirm"></span>
                <label asp-for="Confirm">Confirm Password: </label>
                <input type="password" asp-for="Confirm">
            </div>
        </div>
    </form>
    </div>

    
    
</body>
</html>