@model User
@{
    ViewData["Title"] = "Registration Page";
}

<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <img class="navbar-logo mr-2" src="~/assets/img/portfolio/thumbnails/Logo.jpg">
        <a class="navbar-brand js-scroll-trigger" asp-action="Index" asp-controller="Home">Truckette Hat CO.</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ol class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger">Welcome!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#portfolio">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#contact">Contact<a>
                </li>
            </ol>
        </div>
    </div>
</nav>
    @* banner head *@
<header class="AllBanner RegisterBanner">
    <div class="container register-page">
        <div class="row align-items-center justify-content-center text-center mt-5">
            <div class="col-lg-6">
                <div class="align-center mt-5">        
                    <h1 class="text-uppercase text-white font-weight-bold mb-5">Register</h1>
                </div>
                <form asp-action="RegisterUser" asp-controller="Login" method="post">
                    <div class="form-group">
                        <span asp-validation-for="FirstName"></span>
                        <label asp-for="FirstName">First Name </label>
                        <input class="form-control transparent-input" type="text" asp-for="FirstName">
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="LastName"></span>
                        <label asp-for="LastName">Last Name </label>
                        <input class="form-control transparent-input" type="text" asp-for="LastName">
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Email"></span>
                        <label asp-for="Email">Email </label>
                        <input class="form-control transparent-input" type="email" asp-for="Email">
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Password"></span>
                        <label asp-for="Password">Password </label>
                        <input class="form-control transparent-input" type="password" asp-for="Password">
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Confirm"></span>
                        <label asp-for="Confirm">Confirm Password </label>
                        <input class="form-control transparent-input" type="password" asp-for="Confirm">
                    </div>
                    <button type="submit" class="btn btn-primary form-control">Sign Up Now</button>
                </form>
            </div>
        </div>
    </div>
</header>
